html, body {
	height: 100%;
    background: $navy;
    
    #content {
        background: #fff;   
    }
      
}

body {
   &:focus {
      outline: none!important;
   }
}

#wpadminbar {
    z-index: 999999;   
}


button:focus {
    outline: none;   
}


.site-container {
    background: #fff;
    padding-top: 82px;
    
    @include breakpoint(medium) {
        padding-top: 0;
    }
}


.page .site-main {
    padding-bottom: 75px;   
}

.section.default {
    padding-top: 30px;   
    
    @include breakpoint(large) {
        padding-top: 50px;   
    }
}