/* CSS Document */

.woocommerce .site-main {
    padding: 30px 0 30px;
    
    @include breakpoint(large) {
        padding: 60px 0 60px;
    }
}

.bundled_product_7 {
    display: none;
}

.ginput_price {
    display: none !important;
}

.cart .variation dt {
    line-height: 1.45!important;   
}

.woocommerce-checkout .woocommerce-notice {
    margin-bottom: $global-margin;   
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $orange;
    color: #fff;
    &:hover {
        background-color: scale-color( $orange, $lightness: 20%);
    }
}

.woocommerce .add-to-cart-box button.button,
.woocommerce .add-to-cart-box input.button {
    padding: 10px 1em !important;
}

.woocommerce .add-to-cart-box .quantity .qty {
    height: 40px;
}

.woocommerce .gfield_radio input {
    vertical-align: top !important;
}

.woocommerce .gform_wrapper .gfield_radio li label {
    margin: 2px 0 0 10px !important;
}

.bundled_product_excerpt ul {
    padding-left: 30px;
}

.woocommerce-checkout-review-order-table,
.woocommerce-cart-form__contents {
    .variation ul {
        display: none;
    }
}

.woocommerce-checkout-review-order-table .product-quantity {
    display: none;
}

#order_review_heading {
    margin-top: 40px;
}

// Steps 
#product-477,
#product-466 {
    .quantity:before {
        content: 'Users:';
    }
    .office365-new .quantity:before {
        content: 'How many Office 365 users do you need?';
    }
    .office365 .quantity:before {
        content: 'How many Office 365 users do you have?';
    }
    .gsuite-new .quantity:before {
        content: 'How many GSuite users do you need?';
    }
    .gsuite .quantity:before {
        content: 'How many GSuite users do you have?';
    }
}

#product-470 {
    .quantity:before {
        content: 'Number of user accounts that need migrating:';
    }
}

#product-469 {
    .quantity:before {
        content: 'How many extensions do you need?';
    }
}

#product-706 {
    
    .price {
        display: none;    
    }
    
    .quantity:before {
        content: 'How many workstations do you need?';
    }
    
    .entry-summary {
        h3 {
          margin-bottom: $global-margin;  
        }
    }
}

#product-477,
#product-470,
#product-469,
#product-466,
#product-706 {
    .add-to-cart-box .wrap {
        display: inline-block;
        padding: 20px 10px;
        background: #F1F1F1;
    }
    .add-to-cart-box.transparent .wrap {
        background: transparent;
    }
}

.single-product .gform_wrapper div.validation_error {
    display: none !important;
}

.single-product .cart .gform_footer {
    padding: 0 !important;
    margin: 0 !important;
}

.postid-459 {
    .bundled_product_3 {
        .quantity:before {
            content: 'Number of users:';
        }
    }
    .bundled_product_4 {
        .quantity:before {
            content: 'Number of users:';
        }
    }
    .bundled_product_5 {
        .subscription-details {
            display: none;
        }
        
        .quantity:before {
            content: 'Number of users:';
        }
    }
   
}

.subscription-thankyou-message {
    display: none;
}

.page-logo-brief .logo-box {
    min-height: 150px !important;
}

.woocommerce-page .logo-box {
    img {
        max-width: 100% !important;
    }
}

.woocommerce-page .gf_field_images {
    margin-top: 0 !important;
}

.woocommerce-product-details__short-description img {
    border: 1px solid $light-gray;
    padding: 15px;
    max-width: 230px;
    max-height: 230px;
}

.bundled_product_excerpt img {
    border: 1px solid $light-gray;
    padding: 15px;
    margin: 10px auto;
    max-height: 80px;
    width: auto;
}

.book-consultation {
    margin-bottom: 45px;
}

.go-back {
    display: block;
    margin-right: 10px !important;
    background-color: $gray !important;
    color: #fff !important;
    padding: 10px 1em!important;
}

.return-to-cart {
    display: block;
    margin-right: 10px !important;
    background-color: $blue !important;
    color: #fff !important;
    padding: 10px 1em!important;
    
    @include breakpoint(large) {
        margin-left: rem-calc(10)!important;   
    }
}

@include breakpoint( medium down) {
    .woocommerce div.product form.cart .go-back,
    .woocommerce div.product form.cart .single_add_to_cart_button {
        display: block;
        float: left!important; 
        margin-top: rem-calc(15)!important;
        width: calc(50% - 5px); 
    }
    
    .woocommerce div.product form.cart div.quantity { 
        float: none;
        margin: 0;
    }
    
    .return-to-cart {
        display: block;
        float: none!important; 
        margin-top: rem-calc(15)!important;
        width: 100%; 
    }
}


.page-checkout {

    #order_review_heading,
    #order_review .shop_table thead,
    #order_review .shop_table tbody {
        display: none;
    }

    #order_review .shop_table,
    #payment {
        margin-top: 30px;
    }

}


.progress-bar {

    position: relative;
    overflow: visible;
        
    margin: 0 auto $global-margin;
    max-width: calc(100% - 20px);
    
    @include breakpoint(large) {
        margin: 0 auto rem-calc(75);
        max-width: rem-calc(600);   
    }
    
    .close-button {
        display: none;  
        position: absolute;
        top: 20px;
        right: 20px; 
    }
    
    .toggle-mobile {
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 9;
        
        @include breakpoint(large) {
            display: none;
        }
    }
    
    ul {
        @include list-reset;
        display: flex; 
        justify-content: space-between;
        height: 100%;
                
        li {
            position: relative;
            z-index: 2;
            height: 80px;
            flex: 0 0 calc(100% / 11);
            
            .step-first,
            &:last-child {
                
                a {
                    display: block;   
                }
                
                &:not(.step-current) a {
                    pointer-events: none; 
                }
                
                .progress-number {
                    background: transparent;
                    color: $dark-blue;
                    display: block; 
                }
                
                &:after {
                    display: none;   
                }
            }
            
            a {
                display: none;
                
                @include breakpoint(large) {
                    height: 80px;
                }
            }
            
            &.step-current,
            &.step-complete {
                a {
                    display: block;     
                }
            }
            
            .progress-check {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                margin-top: -20px; // was -16px
                line-height: 1;
                
                i {
                    display: inline-block;
                    width: 6px;
                    height: 11px;
                    border-width: 0 2px 2px 0;
                    border-style: solid;
                    border-color: #002955;
                    transform-origin: bottom left; 
                    transform: rotate(45deg);
                }
            }
            
            &.step-complete:not(.step-current) {
                .progress-check {
                    display: block;
                }
            }
            
            
            
            .progress-title {
                font-size: rem-calc(15);
                font-weight: 600;
                color: $dark-blue;
                transform: translateY(0) translateX(-50%);   
                bottom: 0;
                position: absolute;
                left: 50%;
                white-space: nowrap;
                text-align: center;
                opacity: 0;
            }
            
            .progress-number {
                display: none;
                height: 26px;
                width: 26px;
                text-align: center;
                z-index: 2;
                line-height: 26px;
                font-size: rem-calc(15);
                font-weight: 600;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                
                @include breakpoint(large) {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    
                }
            }
            
            &.step-current .progress-number {
                display: block;
                border-radius: 50%;
                background-color: $blue;
                color: #fff;
            }
            
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -1;
                height: 3px;
                width: 3px;
                border-radius: 50%;
                background-color: $dark-blue;
                
                @include breakpoint(large) {
                    height: 5px;
                    width: 5px;
                }
            }
            
            .no-touchevents & {
                &:after {
                    transition: background-color .3s ease,transform .2s ease;   
                }
            }
                        
            &.step-current {
                
                a {
                    pointer-events: none; 
                }
                
                .progress-title {
                    opacity: 1!important;   
                }
                .progress-number {
                    display: block; 
                }
            }
        }
    }
    
    &:not(.expanded) {
        ul:hover > li:not(.step-incomplete):not(:hover) {
            .progress-title {
                opacity: 0;   
            } 
        }
    }
    
    &.expanded {
        
        background-color: #EFF3F1;
        margin-top: -60px;
        margin-left: -20px;
        width: calc(100% + 40px);
        max-width: none;
        padding: rem-calc(40 0 40);
        
        .toggle-mobile {
            display: none;   
        }
        
        .close-button {
            display: block;   
        }
        
        ul {
            
            flex-direction: column;
         
            li {
               flex: 0 0 100%; 
               height: auto;
               padding: 5px 0;
               
               &.step-complete {
                   .progress-check {
                        display: block;   
                   }
               }
                              
               a {
                    display: flex;
                    padding: 0 40px 0 60px;
                    
                    span {
                        opacity: 1;
                    }
                    
                    .progress-check {
                        left: 15px;
                        transform: translateY(-50%);   
                        margin-top: -7px;
                    }
                    
                    .progress-number,
                    .progress-title {
                        position: inherit;
                        bottom: auto;
                        top: auto;
                        left: auto;
                        transform: none;   
                    }
                    
                    .progress-title {
                        padding-left: 15px;   
                    }
               }
               
               .progress-number {
                    display: block;   
               }
               
               &:after {
                    left: 45px;
                    transform: translateY(-50%);
                    z-index: -1;
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    background-color: #044e6d;   
               }
            }
            
        }
    }
           
}

.no-touchevents {
        
    .progress-bar:not(.expanded)  {
        
        .step-complete:not(.step-current) {
            .progress-check {
                transition: opacity .5s ease .5s,transform .2s ease;
            }
            
            &:hover {
                .progress-check {
                    transform: translate(-50%,-64%);
                }
                
                .progress-title {
                    opacity: 1!important;   
                }
                
                @include breakpoint(large) {
                    &:after {
                        transform: scale(1.5);
                    }   
                }
            }
        }
        
        &.step-current:hover { 
            .progress-title {
                    opacity: 1;   
            }   
        }
                
        .progress-title {
            opacity: 0;
            transition: opacity .5s ease;
        }
    }   
}


.template-lets-build {
    .progress-bar ul:hover .step-first {
        .progress-title {
            opacity: 1!important;   
        }   
    }
}