// Mobile Naviation

@include breakpoint(small only) {
    
    .nav-primary {
        
        .menu {
             
            li {
               a {
                    padding: rem-calc(map-get($grid-column-gutter, small) /4 ) rem-calc(map-get($grid-column-gutter, small) /2 );
               }
            }
            
            > li:first-child {
                > a {
                    background: $blue-secondary;
                    padding: rem-calc(map-get($grid-column-gutter, small) /2 );
                }
            }
        }
        
    }
    
}